<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New message</title>
</head>
<body>
    <form method="POST" action="/new">
        <h3>Create Message</h3>
        <p>Name</p>
        <input type="text" placeholder="name" name="nombreUser">
        <p>text</p>
        <input type="text" placeholder="text" name="textUser">
        <button type="submit">Send</button>
    </form>
</body>
</html>